# Project Notebook: Augmenting Pandas with SQLite

## Question 1: Introduction

In this session, we explored a few different ways to work with larger datasets in pandas. In this guided project, we'll practice using some of the techniques we learned to analyze startup investments from Crunchbase.com.

Every year, thousands of startup companies raise financing from investors. Each time a startup raises money, we refer to the event as a fundraising round. Crunchbase is a website that crowdsources information on the fundraising rounds of many startups. The Crunchbase user community submits, edits, and maintains most of the information in Crunchbase.

In return, Crunchbase makes the data available through a Web application and a fee-based API. Before Crunchbase switched to the paid API model, multiple groups crawled the site and released the data online. Because the information on the startups and their fundraising rounds is always changing, the data set we'll be using isn't completely up to date.

Throughout this project, we'll practice working with different memory constraints. In this step, let's assume we only have 10 megabytes of available memory. While crunchbase-investments.csv (https://bit.ly/3BPcobU) consumes 10.3 megabytes of disk space, we know from earlier lessons that pandas often requires 4 to 6 times amount of space in memory as the file does on disk (especially when there's many string columns).


**Tasks**

* Because the data set contains over 50,000 rows, you'll need to read the data set into dataframes using 5,000 row chunks to ensure that each chunk consumes much less than 10 megabytes of memory.
* Across all of the chunks, become familiar with:
1. Each column's missing value counts.
2. Each column's memory footprint.
3. The total memory footprint of all of the chunks combined.
4. Which column(s) we can drop because they aren't useful for analysis.

*Reading the Crunchbase data in chunks of 5000 rows, then print the first 5 rows of each chunk. We need to see the data and make sure that the chunks are being read correctly by pandas. The encoding parameter is set to 'unicode_escape' to properly handle any special characters in the data.*

In [ ]:
# Your code goes here
url = "https://bit.ly/3BPcobU"
#
import pandas as pd
for crunchbase in  pd.read_csv(url, encoding='unicode_escape', chunksize = 5000):
  print(crunchbase.head(5))

     company_permalink company_name company_category_code  \
0    /company/advercar     AdverCar           advertising
1  /company/launchgram   LaunchGram                  news
2        /company/utap         uTaP             messaging
3    /company/zoopshop     ZoopShop              software
4    /company/efuneral     eFuneral                   web

  company_country_code company_state_code         company_region  \
0                  USA                 CA                 SF Bay
1                  USA                 CA                 SF Bay
2                  USA                NaN  United States - Other
3                  USA                 OH               Columbus
4                  USA                 OH              Cleveland

    company_city          investor_permalink      investor_name  \
0  San Francisco  /company/1-800-flowers-com  1-800-FLOWERS.COM
1  Mountain View        /company/10xelerator        10Xelerator
2            NaN        /company/10xelerator        10Xelerator
3       columbus        /company/10xelerator        10Xelerator
4      Cleveland        /company/10xelerator        10Xelerator

  investor_category_code investor_country_code investor_state_code  \
0                    NaN                   USA                  NY
1                finance                   USA                  OH
2                finance                   USA                  OH
3                finance                   USA                  OH
4                finance                   USA                  OH

  investor_region investor_city funding_round_type   funded_at funded_month  \
0        New York      New York           series-a  2012-10-30      2012-10
1        Columbus      Columbus              other  2012-01-23      2012-01
2        Columbus      Columbus              other  2012-01-01      2012-01
3        Columbus      Columbus              angel  2012-02-15      2012-02
4        Columbus      Columbus              other  2011-09-08      2011-09

  funded_quarter  funded_year  raised_amount_usd
0        2012-Q4         2012          2000000.0
1        2012-Q1         2012            20000.0
2        2012-Q1         2012            20000.0
3        2012-Q1         2012            20000.0
4        2011-Q3         2011            20000.0
                       company_permalink               company_name  \
5000              /company/visible-world              Visible World
5001                     /company/obopay                     obopay
5002                    /company/jumptap                    Jumptap
5003  /company/avid-radiopharmaceuticals  Avid Radiopharmaceuticals
5004  /company/avid-radiopharmaceuticals  Avid Radiopharmaceuticals

     company_category_code company_country_code company_state_code  \
5000           advertising                  USA                 NY
5001                mobile                  USA                 CA
5002                mobile                  USA                 MA
5003               biotech                  USA                 PA
5004               biotech                  USA                 PA

     company_region  company_city                         investor_permalink  \
5000       New York      New York  /financial-organization/alliancebernstein
5001         SF Bay  Redwood City  /financial-organization/alliancebernstein
5002         Boston        Boston  /financial-organization/alliancebernstein
5003   Philadelphia  Philadelphia  /financial-organization/alliancebernstein
5004   Philadelphia  Philadelphia  /financial-organization/alliancebernstein

          investor_name  investor_category_code investor_country_code  \
5000  AllianceBernstein                     NaN                   USA
5001  AllianceBernstein                     NaN                   USA
5002  AllianceBernstein                     NaN                   USA
5003  AllianceBernstein                     NaN                   USA
5004  AllianceBernstein                     NaN                   USA

     investor_state_code investor_region investor_city funding_round_type  \
5000                  NY        New York      New York          series-c+
5001                  NY        New York      New York          series-c+
5002                  NY        New York      New York          series-c+
5003                  NY        New York      New York          series-c+
5004                  NY        New York      New York          series-c+

       funded_at funded_month funded_quarter  funded_year  raised_amount_usd
5000  2008-04-14      2008-04        2008-Q2         2008         25000000.0
5001  2008-04-21      2008-04        2008-Q2         2008         20000000.0
5002  2008-08-26      2008-08        2008-Q3         2008         26000000.0
5003  2009-05-21      2009-05        2009-Q2         2009         34500000.0
5004  2007-05-09      2007-05        2007-Q2         2007         26000000.0
                   company_permalink          company_name  \
10000                   /company/zag                   Zag
10001          /company/frx-polymers          FRX Polymers
10002       /company/targeted-growth       Targeted Growth
10003  /company/mendel-biotechnology  Mendel Biotechnology
10004          /company/frx-polymers          FRX Polymers

      company_category_code company_country_code company_state_code  \
10000                search                  USA                 CA
10001             cleantech                  USA                 MA
10002               biotech                  USA                 WA
10003               biotech                  USA                 CA
10004             cleantech                  USA                 MA

      company_region  company_city  \
10000    Los Angeles  Santa Monica
10001         Boston    Chelmsford
10002        Seattle       Seattle
10003         SF Bay       Hayward
10004         Boston    Chelmsford

                                      investor_permalink  \
10000       /financial-organization/capricorn-management
10001       /financial-organization/capricorn-management
10002       /financial-organization/capricorn-management
10003  /financial-organization/capricorn-venture-part...
10004  /financial-organization/capricorn-venture-part...

                    investor_name  investor_category_code  \
10000        Capricorn Management                     NaN
10001        Capricorn Management                     NaN
10002        Capricorn Management                     NaN
10003  Capricorn Venture Partners                     NaN
10004  Capricorn Venture Partners                     NaN

      investor_country_code investor_state_code investor_region investor_city  \
10000                   USA                  CT        New York     Greenwich
10001                   USA                  CT        New York     Greenwich
10002                   USA                  CT        New York     Greenwich
10003                   BEL                 NaN          Leuven        Leuven
10004                   BEL                 NaN          Leuven        Leuven

      funding_round_type   funded_at funded_month funded_quarter  funded_year  \
10000          series-c+  2009-02-05      2009-02        2009-Q1         2009
10001           series-a  2009-07-27      2009-07        2009-Q3         2009
10002            venture  2007-02-07      2007-02        2007-Q1         2007
10003     private-equity  2007-06-13      2007-06        2007-Q2         2007
10004           series-b  2011-06-06      2011-06        2011-Q2         2011

       raised_amount_usd
10000         37400000.0
10001          6000000.0
10002         22300000.0
10003          8387128.0
10004         15700000.0
                 company_permalink        company_name company_category_code  \
15000        /company/goto-metrics            Zettaset            enterprise
15001           /company/brighttag           BrightTag            enterprise
15002              /company/joyent              Joyent            enterprise
15003           /company/brighttag           BrightTag            enterprise
15004  /company/exagen-diagnostics  Exagen Diagnostics               biotech

      company_country_code company_state_code company_region   company_city  \
15000                  USA                 CA         SF Bay  Mountain View
15001                  USA                 IL        Chicago        Chicago
15002                  USA                 CA         SF Bay  San Francisco
15003                  USA                 IL        Chicago        Chicago
15004                  USA                 NM    Albuquerque    Albuquerque

                          investor_permalink  investor_name  \
15000  /financial-organization/epic-ventures  EPIC Ventures
15001  /financial-organization/epic-ventures  EPIC Ventures
15002  /financial-organization/epic-ventures  EPIC Ventures
15003  /financial-organization/epic-ventures  EPIC Ventures
15004  /financial-organization/epic-ventures  EPIC Ventures

       investor_category_code investor_country_code investor_state_code  \
15000                     NaN                   USA                  UT
15001                     NaN                   USA                  UT
15002                     NaN                   USA                  UT
15003                     NaN                   USA                  UT
15004                     NaN                   USA                  UT

      investor_region   investor_city funding_round_type   funded_at  \
15000  Salt Lake City  Salt Lake City            venture  2011-07-12
15001  Salt Lake City  Salt Lake City            venture  2011-08-15
15002  Salt Lake City  Salt Lake City          series-c+  2012-01-23
15003  Salt Lake City  Salt Lake City          series-c+  2012-04-25
15004  Salt Lake City  Salt Lake City            venture  2012-09-10

      funded_month funded_quarter  funded_year  raised_amount_usd
15000      2011-07        2011-Q3         2011          3000000.0
15001      2011-08        2011-Q3         2011          5000000.0
15002      2012-01        2012-Q1         2012         85000000.0
15003      2012-04        2012-Q2         2012         15000000.0
15004      2012-09        2012-Q3         2012          5300000.0
                   company_permalink       company_name company_category_code  \
20000  /company/coulomb-technologies  ChargePoint, Inc.             cleantech
20001           /company/oncothyreon        Oncothyreon               biotech
20002               /company/grouply            Grouply       network_hosting
20003               /company/grouply            Grouply       network_hosting
20004               /company/grouply            Grouply       network_hosting

      company_country_code company_state_code company_region  company_city  \
20000                  USA                 CA         SF Bay      Campbell
20001                  USA                 WA        Seattle       Seattle
20002                  USA                 CA         SF Bay  Redwood City
20003                  USA                 CA         SF Bay  Redwood City
20004                  USA                 CA         SF Bay  Redwood City

                                investor_permalink        investor_name  \
20000    /financial-organization/hartford-ventures    Hartford Ventures
20001        /financial-organization/hartz-capital        Hartz Capital
20002  /financial-organization/harvard-angel-group  Harvard Angel Group
20003  /financial-organization/harvard-angel-group  Harvard Angel Group
20004  /financial-organization/harvard-angel-group  Harvard Angel Group

       investor_category_code investor_country_code investor_state_code  \
20000                     NaN                   USA                  CT
20001                     NaN                   NaN                 NaN
20002                     NaN                   USA                 NaN
20003                     NaN                   USA                 NaN
20004                     NaN                   USA                 NaN

      investor_region investor_city funding_round_type   funded_at  \
20000        Hartford      Hartford          series-c+  2010-09-08
20001         unknown           NaN            venture  2010-09-24
20002             TBD           NaN              angel  2007-06-01
20003             TBD           NaN              angel  2008-01-01
20004             TBD           NaN           series-a  2008-01-14

      funded_month funded_quarter  funded_year  raised_amount_usd
20000      2010-09        2010-Q3         2010         15000000.0
20001      2010-09        2010-Q3         2010         14900000.0
20002      2007-06        2007-Q2         2007           935000.0
20003      2008-01        2008-Q1         2008           365000.0
20004      2008-01        2008-Q1         2008          1300000.0
             company_permalink    company_name company_category_code  \
25000    /company/smith-tinker  Smith & Tinker           games_video
25001            /company/sway            Sway           advertising
25002        /company/shoutlet        Shoutlet            enterprise
25003  /company/firefly-mobile  Firefly Mobile                mobile
25004      /company/fastmobile      Fastmobile              software

      company_country_code company_state_code company_region     company_city  \
25000                  USA                 WA        Seattle         Bellevue
25001                  USA                 WI      Middleton        Middleton
25002                  USA                 WI        Madison          Madison
25003                  USA                 FL          Miami      Miami Beach
25004                  USA                 IL        Chicago  Rolling Meadows

                                 investor_permalink         investor_name  \
25000  /financial-organization/leo-capital-holdings  Leo Capital Holdings
25001  /financial-organization/leo-capital-holdings  Leo Capital Holdings
25002  /financial-organization/leo-capital-holdings  Leo Capital Holdings
25003  /financial-organization/leo-capital-holdings  Leo Capital Holdings
25004  /financial-organization/leo-capital-holdings  Leo Capital Holdings

       investor_category_code investor_country_code investor_state_code  \
25000                     NaN                   USA                  IL
25001                     NaN                   USA                  IL
25002                     NaN                   USA                  IL
25003                     NaN                   USA                  IL
25004                     NaN                   USA                  IL

      investor_region investor_city funding_round_type   funded_at  \
25000         Chicago    Northbrook            venture  2009-08-25
25001         Chicago    Northbrook           series-a  2010-01-19
25002         Chicago    Northbrook           series-a  2010-01-19
25003         Chicago    Northbrook            venture  2006-10-19
25004         Chicago    Northbrook           series-b  2005-05-16

      funded_month funded_quarter  funded_year  raised_amount_usd
25000      2009-08        2009-Q3         2009         29000000.0
25001      2010-01        2010-Q1         2010          2000000.0
25002      2010-01        2010-Q1         2010          3200000.0
25003      2006-10        2006-Q4         2006          3000000.0
25004      2005-05        2005-Q2         2005         12000000.0
           company_permalink   company_name company_category_code  \
30000      /company/tricycle       Tricycle                   NaN
30001         /company/adapx          Adapx              software
30002         /company/adapx          Adapx              software
30003  /company/actionengine  Action Engine                mobile
30004       /company/vigilos        Vigilos              software

      company_country_code company_state_code company_region company_city  \
30000                  USA                 TN    Chattanooga  Chattanooga
30001                  USA                 WA        Seattle      Seattle
30002                  USA                 WA        Seattle      Seattle
30003                  USA                 WA        Seattle     Bellevue
30004                  USA                 WA        Seattle      Seattle

                                      investor_permalink  \
30000     /financial-organization/northwest-georgia-bank
30001  /financial-organization/northwest-technology-v...
30002  /financial-organization/northwest-technology-v...
30003  /financial-organization/northwest-venture-asso...
30004  /financial-organization/northwest-venture-asso...

                       investor_name  investor_category_code  \
30000         Northwest Georgia Bank                     NaN
30001  Northwest Technology Ventures                     NaN
30002  Northwest Technology Ventures                     NaN
30003   Northwest Venture Associates                     NaN
30004   Northwest Venture Associates                     NaN

      investor_country_code investor_state_code investor_region investor_city  \
30000                   USA                  GA        Ringgold      Ringgold
30001                   USA                  OR        Portland     Beaverton
30002                   USA                  OR        Portland     Beaverton
30003                   USA                  WA         Spokane       Spokane
30004                   USA                  WA         Spokane       Spokane

      funding_round_type   funded_at funded_month funded_quarter  funded_year  \
30000              other  2003-01-01      2003-01        2003-Q1       2003.0
30001            venture  2012-07-30      2012-07        2012-Q3       2012.0
30002            venture  2013-04-11      2013-04        2013-Q2       2013.0
30003          series-c+  2007-07-01      2007-07        2007-Q3       2007.0
30004            venture  2009-04-28      2009-04        2009-Q2       2009.0

       raised_amount_usd
30000           500000.0
30001          3000000.0
30002          3000000.0
30003         20000000.0
30004          1400000.0
                        company_permalink               company_name  \
35000  /company/ping-identity-corporation  Ping Identity Corporation
35001                 /company/mulesource                   MuleSoft
35002                 /company/amberpoint                 AmberPoint
35003                    /company/questra                    Questra
35004               /company/reva-systems               Reva Systems

      company_category_code company_country_code company_state_code  \
35000              security                  USA                 CO
35001            enterprise                  USA                 CA
35002                   web                  USA                 CA
35003              software                  USA                 CA
35004              hardware                  USA                 MA

      company_region   company_city                    investor_permalink  \
35000         Denver         Denver  /financial-organization/sap-ventures
35001         SF Bay  San Francisco  /financial-organization/sap-ventures
35002         SF Bay        Oakland  /financial-organization/sap-ventures
35003         SF Bay   Redwood City  /financial-organization/sap-ventures
35004         Boston       Westford  /financial-organization/sap-ventures

      investor_name  investor_category_code investor_country_code  \
35000  SAP Ventures                     NaN                   USA
35001  SAP Ventures                     NaN                   USA
35002  SAP Ventures                     NaN                   USA
35003  SAP Ventures                     NaN                   USA
35004  SAP Ventures                     NaN                   USA

      investor_state_code investor_region investor_city funding_round_type  \
35000                  CA          SF Bay     Palo Alto          series-c+
35001                  CA          SF Bay     Palo Alto          series-c+

*We want to return the memory usage of each column in the current chunk of the Crunchbase data. The deep parameter has been set to True, which means that the memory usage of all the elements in each column will be calculated, including any nested elements. The result is a pandas Series object, where the index is the column names and the values are the memory usage of each column in bytes.*

In [ ]:
crunchbase.memory_usage(deep = True)

Index                        132
company_permalink         215412
company_name              189709
company_category_code     184581
company_country_code      172200
company_state_code        168547
company_region            184997
company_city              191495
investor_permalink        222759
investor_name             199818
investor_category_code     22960
investor_country_code      22960
investor_state_code        22960
investor_region           183680
investor_city              22960
funding_round_type        182367
funded_at                 192290
funded_month              183680
funded_quarter            183680
funded_year                22960
raised_amount_usd          22960
dtype: int64

*We intend to calculate the total memory footprint of all the chunks of the Crunchbase data by summing up the memory usage of each chunk. The memory_usage() method is called on each chunk to get its memory usage, and the .sum() method is used to get the sum of all the memory usage of each column in the chunk. The result is then divided by 1024 * 1024 to convert it from bytes to megabytes. Finally, the memory usage of each chunk is appended to the memory_footprints list, and the sum of all the values in memory_footprints is printed.*
                                                                                                                                                   *This gives us the combined output*

In [ ]:
memory_footprints = []
crunchbase_iter = pd.read_csv(url, encoding='unicode_escape', chunksize = 5000)
for chunk in crunchbase_iter:
    memory_footprints.append(crunchbase.memory_usage(deep=True).sum()/(1024*1024))
print(sum(memory_footprints))

29.30085849761963

*To remove the unnecessary columns, we read the entire Crunchbase data into a single pandas DataFrame, and then drop several columns that aren't useful for analysis. The drop method is used to remove the specified columns, which are listed in the argument passed to the columns parameter.
The axis parameter is set to 1 to indicate that we are dropping columns (as opposed to rows), and the result of this operation is 
a new DataFrame with the specified columns removed. Note that this code doesn't assign the result of the drop operation back to the crunchbase DataFrame. To make the change permanent, you should re-assign the result to crunchbase like this: crunchbase = crunchbase.drop(['investor_country_code', 'investor_state_code','investor_category_code', 'company_city','raised_amount_usd','investor_city', 'company_state_code','company_category_code',], axis = 1).*

In [ ]:
crunchbase = pd.read_csv(url, encoding='unicode_escape')
crunchbase.drop(['investor_country_code', 'investor_state_code','investor_category_code', 'company_city','raised_amount_usd','investor_city','company_state_code','company_category_code',], axis = 1)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,company_permalink,company_name,company_country_code,company_region,investor_permalink,investor_name,investor_region,funding_round_type,funded_at,funded_month,funded_quarter,funded_year
0,/company/advercar,AdverCar,USA,SF Bay,/company/1-800-flowers-com,1-800-FLOWERS.COM,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0
1,/company/launchgram,LaunchGram,USA,SF Bay,/company/10xelerator,10Xelerator,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0
2,/company/utap,uTaP,USA,United States - Other,/company/10xelerator,10Xelerator,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0
3,/company/zoopshop,ZoopShop,USA,Columbus,/company/10xelerator,10Xelerator,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0
4,/company/efuneral,eFuneral,USA,Cleveland,/company/10xelerator,10Xelerator,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...
52865,/company/garantia-data,Garantia Data,USA,SF Bay,/person/zohar-gilon,Zohar Gilon,unknown,series-a,2012-08-08,2012-08,2012-Q3,2012.0
52866,/company/duda-mobile,DudaMobile,USA,SF Bay,/person/zohar-gilon,Zohar Gilon,unknown,series-c+,2013-04-08,2013-04,2013-Q2,2013.0
52867,/company/sitebrains,SiteBrains,USA,SF Bay,/person/zohar-israel,zohar israel,unknown,angel,2010-08-01,2010-08,2010-Q3,2010.0
52868,/company/comprehend-systems,Comprehend Systems,USA,SF Bay,/person/zorba-lieberman,Zorba Lieberman,unknown,series-a,2013-07-11,2013-07,2013-Q3,2013.0
52869,/company/smartthings,SmartThings,USA,unknown,/person/zorik-gordon,Zorik Gordon,unknown,series-a,2012-12-04,2012-12,2012-Q4,2012.0

*We then print the number of missing values for each column in the crunchbase DataFrame. The isnull() method is used to create a DataFrame of the same shape as crunchbase with True values where there are missing values and False values where there are no missing values. The sum method is then applied to this DataFrame to count the number of True values in each column, which gives the number of missing values in each column. The result is a pandas Series object, where the index is the column names and the values are the number of missing values in each column.*

In [ ]:

print( crunchbase.isnull().sum())

company_permalink             1
company_name                  1
company_category_code       643
company_country_code          1
company_state_code          492
company_region                1
company_city                533
investor_permalink            2
investor_name                 2
investor_category_code    50427
investor_country_code     12001
investor_state_code       16809
investor_region               2
investor_city             12480
funding_round_type            3
funded_at                     3
funded_month                  3
funded_quarter                3
funded_year                   3
raised_amount_usd          3599
dtype: int64

## Question 2: Selecting Data Types

Now that we have a good sense of the missing values, let's get familiar with the column types before adding the data into SQLite.

**Tasks**

* Identify the types for each column.
* Identify the numeric columns we can represent using more space efficient types.
For text columns:
* Analyze the unique value counts across all of the chunks to see if we can convert them to a numeric type.
* See if we clean clean any text columns and separate them into multiple numeric columns without adding any overhead when querying.
* Make your changes to the code from the last step so that the overall memory the data consumes stays under 10 megabytes.

*Let us use the info() method of a pandas dataframe to display information about the dataframe including:
i. The number of rows and columns
ii. The data types of each column
iii. The memory usage of the dataframe (by column)
This information is useful for understanding the structure of the data and identifying any issues with the data types, such as data being stored as the wrong data type, or columns that take up more memory than necessary.*

In [ ]:
# Your code goes here

print(crunchbase.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       52869 non-null  object
 1   company_name            52869 non-null  object
 2   company_category_code   52227 non-null  object
 3   company_country_code    52869 non-null  object
 4   company_state_code      52378 non-null  object
 5   company_region          52869 non-null  object
 6   company_city            52337 non-null  object
 7   investor_permalink      52868 non-null  object
 8   investor_name           52868 non-null  object
 9   investor_category_code  2443 non-null   object
 10  investor_country_code   40869 non-null  object
 11  investor_state_code     36061 non-null  object
 12  investor_region         52868 non-null  object
 13  investor_city           40390 non-null  object
 14  funding_round_type      52867 non-null  object
 15  funded_at               52867 non-null  object
 16  funded_month            52867 non-null  object
 17  funded_quarter          52867 non-null  object
 18  funded_year             52867 non-null  float64
 19  raised_amount_usd       49271 non-null  float64
dtypes: float64(2), object(18)
memory usage: 8.1+ MB
None

*First we create a list numeric that includes the data types corresponding to numeric data (integer and floating point types). Then we use the select_dtypes method to extract the columns in the dataframe crunchbase that have data types included in numeric, and stores the resulting column names in a variable numeric_cols. Finally, the numeric_cols variable is printed to display the names of the numeric columns.*

In [ ]:
numeric= ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_columns = crunchbase.select_dtypes(include=numeric).columns
numeric_columns

Index(['funded_year', 'raised_amount_usd'], dtype='object')

*We then iterate over the chunks of the crunchbase-investments.csv file and for each chunk, it calculates the value counts of the unique values in each column of the chunk. The value counts are stored in the chunk_vc variable and printed for each iteration.*

In [ ]:
crunchbase_iter = pd.read_csv(url, encoding='unicode_escape', chunksize = 5000)
for crunchbase in crunchbase_iter:
    chunk_vc = crunchbase.value_counts()
    print(chunk_vc)

company_permalink                           company_name                       company_category_code  company_country_code  company_state_code  company_region  company_city   investor_permalink                 investor_name             investor_category_code  investor_country_code  investor_state_code  investor_region  investor_city  funding_round_type  funded_at   funded_month  funded_quarter  funded_year  raised_amount_usd
/company/massachusetts-clean-energy-center  Massachusetts Clean Energy Center  cleantech              USA                   MA                  Boston          Boston         /company/north-shore-innoventures  North Shore InnoVentures  biotech                 USA                    MA                   Boston           Beverly        angel               2013-09-05  2013-09       2013-Q3         2013         300000.0             2
/company/1000memories                       1000memories                       web                    USA                   CA                  SF Bay          San Francisco  /company/y-combinator              Y Combinator              finance                 USA                    CA                   SF Bay           Mountain View  angel               2010-01-01  2010-01       2010-Q1         2010         15000.0              1
/company/posterous                          Posterous                          web                    USA                   CA                  SF Bay          San Francisco  /company/y-combinator              Y Combinator              finance                 USA                    CA                   SF Bay           Mountain View  angel               2008-05-01  2008-05       2008-Q2         2008         15000.0              1
/company/priceonomics                       Priceonomics                       web                    USA                   CA                  SF Bay          San Francisco  /company/y-combinator              Y Combinator              finance                 USA                    CA                   SF Bay           Mountain View  angel               2011-12-01  2011-12       2011-Q4         2011         20000.0              1
/company/pressgram                          Pressgram                          photo_video            USA                   GA                  Atlanta         Atlanta        /company/kickstarter               Kickstarter               finance                 USA                    NY                   New York         New York       crowdfunding        2013-04-15  2013-04       2013-Q2         2013         56500.0              1
                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
/company/flashstarts                        FlashStarts                        software               USA                   OH                  Cleveland       Cleveland      /company/flashstarts               FlashStarts               software                USA                    OH                   Cleveland        Cleveland      angel               2013-06-01  2013-06       2013-Q2         2013         14000.0              1
/company/fivestars                          FiveStars Loyalty                  advertising            USA                   CA                  SF Bay          San Francisco  /company/y-combinator              Y Combinator              finance                 USA                    CA                   SF Bay           Mountain View  angel               2011-01-01  2011-01       2011-Q1         2011         150000.0             1
/company/fitnesskeeper                      FitnessKeeper                      health                 USA                   MA                  Boston          Boston         /company/revolution                Revolution LLC            other                   USA                    DC                   Washington DC    Washington     series-b            2011-11-21  2011-11       2011-Q4         2011         10000000.0           1
/company/fisker                             Fisker Automotive                  automotive             USA                   CA                  Los Angeles     Irvine         /company/a123systems               A123 Systems              nanotech                USA                    MA                   Boston           Watertown      venture             2011-02-22  2011-02       2011-Q1         2011         150000000.0          1
/company/zynga                              Zynga                              games_video            USA                   CA                  SF Bay          San Francisco  /company/google                    Google                    search                  USA                    CA                   SF Bay           Mountain View  series-b            2010-06-14  2010-06       2010-Q2         2010         300000000.0          1
Length: 1577, dtype: int64
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)

## Question 3: Loading Chunks Into SQLite

Now we're in good shape to start exploring and analyzing the data. The next step is to load each chunk into a table in a SQLite database so we can query the full data set.

**Tasks**

1. Create and connect to a new SQLite database file.
2. Expand on the existing chunk processing code to export each chunk to a new table in the SQLite database.
3. Query the table and make sure the data types match up to what you had in mind for each column.

*We read the csv file in chunks of 5000 rows at a time using pandas' read_csv method. We then connect to a SQLite database with the connection object "conn", and for each chunk, we write the chunk to an SQLite table called "exhibitions". After writing each chunk, we run a SQL query "PRAGMA table_info(exhibitions);" to retrieve the table information for the "exhibitions" table, and store the results in a Pandas dataframe called "results_df". Finally, we prints the "results_df" dataframe.*

In [ ]:
# Your code goes here
# Your code goes here
import sqlite3
import pandas as pd
crunchbase_iter = pd.read_csv(url, encoding='unicode_escape', chunksize = 5000)
conn = sqlite3.connect('crunchbase_iter')
for chunk in crunchbase_iter:
    chunk.to_sql("exhibitions", conn, if_exists='append', index=False)
    results_df = pd.read_sql('PRAGMA table_info(exhibitions);', conn)
print(results_df)

    cid                    name     type  notnull dflt_value  pk
0     0       company_permalink     TEXT        0       None   0
1     1            company_name     TEXT        0       None   0
2     2   company_category_code     TEXT        0       None   0
3     3    company_country_code     TEXT        0       None   0
4     4      company_state_code     TEXT        0       None   0
5     5          company_region     TEXT        0       None   0
6     6            company_city     TEXT        0       None   0
7     7      investor_permalink     TEXT        0       None   0
8     8           investor_name     TEXT        0       None   0
9     9  investor_category_code     TEXT        0       None   0
10   10   investor_country_code     TEXT        0       None   0
11   11     investor_state_code     TEXT        0       None   0
12   12         investor_region     TEXT        0       None   0
13   13           investor_city     TEXT        0       None   0
14   14      funding_round_type     TEXT        0       None   0
15   15               funded_at     TEXT        0       None   0
16   16            funded_month     TEXT        0       None   0
17   17          funded_quarter     TEXT        0       None   0
18   18             funded_year  INTEGER        0       None   0
19   19       raised_amount_usd     REAL        0       None   0

## Question 4: Next Steps

Now that the data is in SQLite, we can use the pandas SQLite workflow we learned in the last lesson to explore and analyze startup investments. Remember that each row isn't a unique company, but a unique investment from a single investor. This means that many startups will span multiple rows.

Use the pandas SQLite workflow to answer the following questions:

* What proportion of the total amount of funds did the top 10% raise? What about the top 1%? Compare these values to the proportions the bottom 10% and bottom 1% raised.
* Which category of company attracted the most investments?
* Which investor contributed the most money (across all startups)?
* Which investors contributed the most money per startup?
* Which funding round was the most popular? Which was the least popular?

Here are some ideas for further exploration:

* Repeat the tasks in this project using stricter memory constraints (under 1 megabyte).
* Clean and analyze the other Crunchbase data sets from the same GitHub repo.
* Understand which columns the data sets share, and how the data sets are linked.
* Create a relational database design that links the data sets together and reduces the overall disk space the database file consumes.

Use pandas to populate each table in the database, create the appropriate indexes, and so on.

# What proportion of the total amount of funds did the top 10% raise? What about the top 1%? Compare these values to the proportions the bottom 10% and bottom 1% raised.

Total amount of funds raised by the top 10% and top 1%

*We execute an SQL query on the crunchbase_iter SQLite database, which we have been reading the data from a CSV file into in chunks and storing in the database. We then select the raised_amount_usd column and count the number of occurrences of each unique value in the raised_amount_usd column and store the results in the eid_counts DataFrame. The query groups the data by raised_amount_usd and orders the results by counts in descending order. Finally, it prints the first 10 rows of the eid_counts DataFrame.*

In [ ]:
# Your code goes here
question = 'select raised_amount_usd, count(*) as counts from exhibitions group by raised_amount_usd  order by counts desc;'
eid_counts = pd.read_sql(question, conn)
print(eid_counts[:10])

   raised_amount_usd  counts
0                NaN    3599
1         10000000.0    2067
2          1000000.0    1760
3          5000000.0    1589
4         15000000.0    1420
5         20000000.0    1312
6          2000000.0    1253
7          1500000.0    1247
8          3000000.0    1204
9          6000000.0    1148

Total amount of funds raised by the bottom 10% and bottom 1%

*We connect to the SQLite database and use a pandas DataFrame to store the results of the SQL query. We store the query in the variable 'question', which selects the 'raised_amount_usd' column and counts the number of rows for each unique value in that column. The result is stored in a pandas DataFrame called 'eid_counts', which is sorted in ascending order by the count of rows for each unique 'raised_amount_usd' value. Finally, we print the first 10 rows of the 'eid_counts' DataFrame.*

In [ ]:
question = 'select raised_amount_usd , count(*) as counts from exhibitions group by raised_amount_usd  order by counts asc;'
eid_counts = pd.read_sql(question, conn)
print(eid_counts[:10])

   raised_amount_usd  counts
0             2100.0       1
1             5500.0       1
2             5600.0       1
3             6000.0       1
4             8300.0       1
5            11600.0       1
6            11800.0       1
7            13200.0       1
8            15282.0       1
9            16500.0       1

# Which category of company attracted the most investments?

Top 5 companies with the largest investments

*We execute an SQL query using the pd.read_sql function from the pandas library. The query is selecting the company_category_code column and counting the number of occurrences of each unique value in the column. The result is grouped by the raised_amount_usd column and ordered by the count in descending order to identify the best companies from the top. The resulting data is then displayed with the first 10 rows printed to the console using the print function.*

In [ ]:
query = 'select company_category_code , count(*) as counts from exhibitions group by raised_amount_usd  order by counts desc;'
eid_counts = pd.read_sql(query, conn)
print(eid_counts[:5])

  company_category_code  counts
0                travel    3599
1             cleantech    2067
2                   web    1760
3                mobile    1589
4               biotech    1420

# Which investor contributed the most money (across all startups)?

*We execute an SQL query on the SQLite database created, selecting the "investor_name" column and counting the number of occurrences of each unique value of investor name (grouped by the "raised_amount_usd" and "company_name" columns). The result is ordered by the count in descending order. Finally, we print the first 10 rows of the resulting DataFrame.*

In [ ]:
q = 'select investor_name , count(*) as counts from exhibitions group by raised_amount_usd and company_name order by counts desc;'
eid_counts = pd.read_sql(q, conn)
print(eid_counts[:10])

                    investor_name  counts
0               1-800-FLOWERS.COM   52528
1  American Pioneer Ventures, Ltd     321
2                      Amplify.LA      21

# Which investors contributed the most money per startup?

*We execute an SQL query on a database connection conn and retrieve the results of the query into a pandas dataframe eid_counts. The query selects the investor_name, raised_amount_usd, and the count of records with the same raised_amount_usd, and groups the results by raised_amount_usd and orders them in descending order. We then print the first 10 rows of the resulting dataframe.*

In [ ]:
query = 'select investor_name,raised_amount_usd , count(*) as counts from exhibitions group by raised_amount_usd order by raised_amount_usd  desc;'
eid_counts = pd.read_sql(query, conn)
print(eid_counts[:10])

               investor_name  raised_amount_usd  counts
0                BrightHouse       3.200000e+09       5
1     Marlin Equity Partners       2.600000e+09       1
2                BrightHouse       1.500000e+09       8
3                GI Partners       1.050000e+09       2
4                     Google       1.000000e+09       1
5        Andreessen Horowitz       9.500000e+08      10
6                    Comcast       9.200000e+08       5
7       Siemens PLM Software       7.500000e+08       1
8              Goldman Sachs       5.650000e+08       1
9  U.S. Department of Energy       5.350000e+08       1

# Which funding round was the most popular? Which was the least popular?

Most popular funding round

*We are executing an SQL query and retrieving the results of the query into a pandas dataframe eid_counts. The query selects the funding_round_type and the count of records with the same funding_round_type, and groups the results by funding_round_type and orders them in descending order by the count of records. We then prints the first 10 rows of the resulting dataframe.*

In [ ]:
query = 'select funding_round_type , count(*) as counts from exhibitions group by funding_round_type order by counts desc;'
eid_counts = pd.read_sql(query, conn)
print(eid_counts[:10])

  funding_round_type  counts
0           series-a   13938
1          series-c+   10870
2              angel    8989
3            venture    8917
4           series-b    8794
5              other     964
6     private-equity     357
7           post-ipo      33
8       crowdfunding       5
9               None       3

Least popular funding round

*We are executing an SQL query on a database and retrieving the results of the query into a pandas dataframe eid_counts. The query selects the funding_round_type and the count of records with the same funding_round_type, and groups the results by funding_round_type and orders them in ascending order by the count of records. We then prints the first 10 rows of the resulting dataframe.*

In [ ]:
query = 'select funding_round_type , count(*) as counts from exhibitions group by funding_round_type order by counts asc;'
eid_counts = pd.read_sql(query, conn)
print(eid_counts[:10])

  funding_round_type  counts
0               None       3
1       crowdfunding       5
2           post-ipo      33
3     private-equity     357
4              other     964
5           series-b    8794
6            venture    8917
7              angel    8989
8          series-c+   10870
9           series-a   13938